<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1 class="title2">About </h1>
    <div class="aboutPageContainer">
        <div class="about">
            <p class="aboutText">Lianne Charlotte Barnes (born 23 August 1989), known professionally as Lianne La Havas is a British singer-songwriter and record producer.

            </p>
        </div>
    
        <div class="about">
            <h3>Early life</h3>
            <p class="aboutText">
                La Havas was born and raised in London, England, to a Greek father and Jamaican mother.
                She began singing at seven, and cites her parents' diverse musical tastes as having the biggest influence on her music.
                La Havas wrote her first song at the age of 11, but did not learn to play the guitar until she was 18 years old.
            </p>
        </div>
    
        <div class="about">
            <h3>Career</h3>
            <p class="aboutText">
                Whilst attending sixth-form in Croydon, La Havas was introduced to musicians who would assist her in the recording of her first demos.
                Through that same friend La Havas was also introduced to British singer Paloma Faith; she later sang backing vocals on tour for Faith.
                La Havas was discovered on Myspace in 2008. Duncan Ellis, owner of Scruffy Bird Artist Management, first heard of La Havas through colleague Alex Hardee of the Coda Music Agency.
                <br>
                <br>
                Her first EP Lost & Found was released on 21 October 2011 on the Labour of Love label, featuring Willy Mason on the opening track "No Room For Doubt".
                Her official debut single "Lost & Found" was released in the UK on 30 April 2012, and her debut album, Is Your Love Big Enough? was released on 9 July 2012 on Warner Brothers. At the end of 2012, Is Your Love Big Enough? was named iTunes Album of the Year.
                <br>
                <br>
                After touring was completed for her first album, La Havas and her mother travelled to Jamaica. During the trip, La Havas was inspired to write new material, which would eventually become part of her second album.
                Many of the songs were inspired by La Havas' reconnection to her Greek and Jamaican heritage.
                Blood was released on 31 July 2015 for physical and digital formats.
                <br>
                <br>
                La Havas released "Bittersweet" on 25 February 2020 as the lead single from her upcoming album.
                On 4 May 2020, La Havas released the second single "Paper Thin" and announced that her self-titled third studio album would be released on 17 July 2020.

            </p>
    
        </div>

    </div>
    

    
</body>
</html>