<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    
</head>
<body>
    <h1>Welcome!</h1>
    <h2>Let me tell you about</h2>
    <h2>Lianne La Havas</h2>
    <div class="navContainer">
        <ul>
            <li class="links"><a href="/about">About</a></li>
            <li class="links"><a href="/works">Works</a></li>
            <li class="links"><a href="/photoGallery">Photo Gallery</a></li>

        </ul>
    </div>
</body>
</html>