<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1 class="title2">Photo gallery </h1>

    <div class="picsContainer">
        <img src="/images/lianne_1.jpeg" alt="image of Lianne">
        <img src="/images/lianne_2.jpeg" alt="image of Lianne">
        <img src="/images/lianne_4.jpeg" alt="image of Lianne">
        <img src="/images/lianne_5.jpeg" alt="image of Lianne">
        <img src="/images/lianne_6.jpg" alt="image of Lianne">
        <img src="/images/lianne_7.jpg" alt="image of Lianne">
    </div>
    
</body>
</html>