<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Works</h1>
    <div>
        <h3>Is Your Love Big Enough?</h3>
        <img src="/images/IsYourLoveBigEnough.jpeg" alt="Album cover">
    </div>
    <div>
        <h3>Blood</h3>
        <img src="/images/Blood.png" alt="Album cover">
    </div>
    <div>
        <h3>Lianne La Havas</h3>
        <img src="/images/Lianne_La_Havas.png" alt="Album cover">
    </div>
    
</body>
</html>